body{
    margin: 0;
    font-family: 'Advent Pro';
    background-color: #344E41;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: c;
    height: 10vh;

}

.logo{
     width:52px;
     height:47px;
}

.menu{
    display: flex;
    gap: 40px;

}
.menu_link{
 text-decoration: none;
 color:black;
font-size: 24px;

}

.cart_btn{
    text-decoration: none;
    background-color: #588157;
    color: #bfd499;
    padding: 5px 25px;
    font-size: 20px;
    border-radius:  10px;
}
.banner{
height: 90vh;
background-image: url(img/bg\ \(2\).jpg);
background-position:  0 0;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.banner_title{
    font-size: 52px;
    color:white;
    backdrop-filter: blur(10px);
}
.catalog{
    padding:  70px 50px;

}
.catalog_title{
    text-align: center;
    color:#DAD7CD;
}

.products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product{
    background-color: #588157;
    width: 45%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DAD7CD;
}
.product img{
    width: 100%;
}

.product_name{
    margin-bottom: 5px;
}

.buy{
    text-decoration: none;
    background-color: #bfd499;
    color: #000;
    padding: 5px 25px;
    font-size: 20px;
    border-radius:  10px;
    
}

.more{
 margin-left: 710px;
 margin-top: 50px;
 background-color: #588157;
 scale:3;
 color: #bfd499;
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #bfd499;
}

.rev_cnt{
    display: flex;
    flex-direction: column ;
    gap: 40px;
    width: 50%;
}

.review{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.text_cnt{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev_input{
    background-repeat: 20px 0 0 20px;
    padding: 15px 20px;
    width: 40%;
    border: 1px solid black;
}

.rev_btn{
    border-radius: 0 20px 20px 0;
    padding: 16px 30px;
    border: none;
    background-color:white;
    transition: 0.3s;
}

.rev_btn:hover{
    background-color: white;
    color: black;
    
}